.ipynb_checkpoints/
AviationData.csv
Aviation_airplanes_after_2004.csv
data_subset.csv
C:UsersrahroDownloads
survival_by_model.csv
category_counts.csv
aircraft_analysis.ipynb
aircraft_analysis-Copy1.ipynb
